ol {
    background-color: transparent;
}

.btn--square {
    padding: 5px 44px;
    border-radius: 0;
    color: #fff;
}


.list-inline-item {
    margin-right: 1.2rem;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .list-inline-item {
        width: 18.75%;
    }
    .list-inline-item:nth-of-type( 5n + 0) {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .list-inline-item {
        width: 23.25%;
    }
    .list-inline-item:nth-of-type( 4n + 0) {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .list-inline-item {
        width: 31.25%;
    }
    .list-inline-item:nth-of-type( 3n + 0) {
        margin-right: 0;
    }
}
@media (max-width: 767.98px) and (min-width: 509px) {
    .list-inline-item {
        width: 48.25%;
    }
    .list-inline-item:nth-of-type( 2n + 0) {
        margin-right: 0;
    }
}
@media (max-width: 508.98px) {
    .list-inline-item {
        width: 47%;
    }
    .list-inline-item:nth-of-type( 2n + 0) {
        margin-right: 0;
    }
}
