<div class="container mb-5 f-family-montserrat">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pl-0 pt-2">
        <li class="breadcrumb-item"><a class="text-grey" routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Partner</li>
      </ol>
    </nav>
  
    <div class="privacy-policy__block">
        <h3 class="mb-4 text-carrot font-weight-600">TFG - A Trusted Partner</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisiasaa uip ex ea commodo consequat</p>
       <section class="block-1 mb-5">
            <h4 class="my-5 text-carrot font-weight-600">Partner with us</h4>
              <form class="float-form" action="">
              <div class="row">
                <div class="form-group col-md-3">
                  <input type="text" id="contact_person_name" class="form-control" placeholder="Name" required>
                  <label class="form-control-placeholder" for="contact_person_name">Contact person name</label>
                </div>
                <div class="form-group col-md-3">
                  <input type="text" id="company_name" class="form-control" placeholder="Name" required>
                  <label class="form-control-placeholder" for="company_name">Company name</label>
                </div>
                <div class="form-group col-md-3">
                  <input type="text" id="contact_details" class="form-control" placeholder="Contact details" required>
                  <label class="form-control-placeholder" for="contact_details">Contact details</label>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-3">
                    <input type="text" id="company_contact_number" class="form-control" placeholder="Company contact number" required>
                    <label class="form-control-placeholder" for="company_contact_number">Company contact number</label>
                  </div>
                  <div class="form-group col-md-3">
                    <input type="text" id="email" class="form-control" placeholder="Email" required>
                    <label class="form-control-placeholder" for="email">Email</label>
                  </div>
                </div>
              <div class="row">
                  <div class="form-group col-md-12">
                      <textarea type="text" id="message" class="form-control" placeholder="message" required></textarea>
                      <label class="form-control-placeholder" for="message">Message</label>
                    </div>
              </div>
  
              <button type="button" class="btn btn--square bg--carrot mb-2">
                Submit
              </button>
            </form>
        </section>

        <section class="block-2">
            <h4 class="my-5 text-carrot font-weight-600">Our Partners</h4>

            <div class="row mx-0">
              <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let list of partner_list">
                  <img class="img-fluid" src="{{list.photo}}" alt="">
                  <div class="title text-uppercase text-carrot mt-2">{{list.title}}</div>
                </li>
              </ul>
            </div>
        </section>
    </div>
  </div>
  
  
  