<div class="container mb-5 f-family-montserrat">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 pt-2">
      <li class="breadcrumb-item"><a class="text-grey" routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Legal</li>
    </ol>
  </nav>

  <div class="privacy-policy__block">
      <h3 class="mb-4 text-carrot font-weight-600">LEGAL</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisiasaa uip ex ea commodo consequat</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisiasaa uip ex ea commodo consequat</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisiasaa uip ex ea commodo consequat</p>

              <br/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisiasaa uip ex ea commodo consequat</p>
        
  </div>
</div>


