<div class="accordion" id="passbookTabs">
    <div class="card">
      <div class="card-header" id="passbooksTabOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button">
              Passbook
          </button>
        </h5>
      </div>
  
      <div id="collapsepassbooksTabOne" class="collapse show">
        <div class="card-body px-0 mt-0">
            <div class="row">
              <div class="col-md-12">
                  Your winning amount is: &#8377; 500
              </div>
            </div>
        </div>
      </div>
    </div>
</div>

<ul class="nav bg--grey" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="funcash-tab" data-toggle="tab" href="#funcash" role="tab" aria-controls="funcash" aria-selected="true">Fun cash</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="deposite-tab" data-toggle="tab" href="#deposite" role="tab" aria-controls="deposite" aria-selected="false">Deposite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="winning-tab" data-toggle="tab" href="#winning" role="tab" aria-controls="winning" aria-selected="false">Winning</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="funcash" role="tabpanel" aria-labelledby="funcash-tab">
    <div class="row">
      <div class="col-md-12 text-center mt-5 pt-5">No records found.</div>
    </div>
  </div>
  <div class="tab-pane fade" id="deposite" role="tabpanel" aria-labelledby="deposite-tab">...</div>
  <div class="tab-pane fade" id="winning" role="tabpanel" aria-labelledby="winning-tab">...</div>
</div>