<footer class="footer">
  <div class="container">
    <div class="row d-flex justify-content-between py-5">
      <div class="col-md-3 col-sm-6 mb-md-0 mb-5">
        <h3>Company</h3>
        <a routerLink="about-us">About Us</a>
        <a routerLink="legal">Legal</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-md-0 mb-5">
        <h3>Fantasy Sports</h3>
        <a routerLink="how-to-play">How to Play?</a>
        <a routerLink="faq">FAQs</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-sm-0 mb-5">
        <h3>Helpdesk</h3>
        <a>support@tfg.com</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-md-0">
        <h3>Also play on</h3>
        <a>Android App</a>
      </div>
    </div>
    <hr class="my-0" />
    <p class="text-center py-3 mb-0">All Rights Reserved</p>
  </div>
</footer>

