<div class="outer-container">
    <div class="container mb-5 f-family-montserrat">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb pl-0 pt-2">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Leaderboard</li>
              </ol>
            </nav>
          
            <div class="row mx-0 leaderboard__block pt-4 px-2">
              <div class="col-md-4 block__left mb-4 mb-md-0">
                <div class="scrollbar hide">
                    <div class="force-overflow">
                      <div class="block mb-3" *ngFor="let leaderboard of leaderboard">
                        <img class="img-fluid" src="{{leaderboard.photo}}" alt="{{leaderboard.title}}">
                        <div class="view-text font-weight-600 cursor-pointer hover-decor" (click)=selcetCurrentList(leaderboard)>View Leaderboard</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="block__right">
                  <div class="title col-md-12 font-weight-600 mb-3">{{leaderboardName}}</div>
                  <div class="block">
                    <div class="table-responsive">
                      <table class="table table-striped mb-5">
                        <thead>
                          <th>Rank</th>
                          <th class="text-left">Team Name</th>
                          <th class="text-center">Match Point</th>
                          <th class="text-center">Total Points</th>
                        </thead>
                        <tbody>
                          <tr class="font-weight-500" *ngFor="let leaderboardDetails of leaderboardDetails; index as i">
                            <td class="text-left"><div class="text-carrot">#{{i+1}}</div></td>
                            <td class="text-left justify-content-start d-flex align-items-center">
                              <img class="mr-4" src="{{leaderboardDetails.photo}}" alt="" width="30" height="30">
                              <div>{{leaderboardDetails.name}}</div>
                            </td>
                            <td class="text-center">{{leaderboardDetails.points}}</td>
                            <td class="text-center">{{leaderboardDetails.total_points}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    
    </div>