<div class="row top-block bg-white m-lg-5 mx-md-1 my-md-5 py-3">
  <div class="col-md-4 block text-center order-2 order-md-1 mb-md-0 mb-3">
    <div class="bg--grey p-3">
      <div class="f-family-montserrat font-weight-600">Referral Code</div>
      <div class="bg--carrot py-1 text-white my-1">Pwdaisad &nbsp;<i class="fas fa fa-share-alt"></i></div>
      <div class="small">Refer a friend and get Fancash benefits</div>
    </div>
  </div>
  <div class="col-md-4 block order-1 order-md-2 min-height-60">
    <img class="account-user" src="assets/images/account-user.png" alt="">
  </div>
  <div class="col-md-4 block text-center d-flex justify-content-center order-3">
    <div class="bg--grey p-3 w-100 d-flex flex-column justify-content-center">
      <div class="font-weight-600 mb-2">Account Balance</div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="assets/images/wallet.png" alt="wallet" width="40" height="40">
        <div class="ml-3">&#8377;1500</div>
      </div>
    </div>
  </div>
</div>