.privacy-policy__block p {
    margin-bottom: 0;
}
ul li {
    position: relative;
    list-style: none;
    margin-bottom: 2px;
}
ul li:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 12px;
    top: 8px;
    left: -20px;
}