<section class="menu-options">
  <div class="container">
    <div class="d-flex justify-content-between">
      <!-- <div class="dropdown" (clickOutside)="onClickedOutside($event)">
        <button (click)="openMenu($event)" class="dropbtn px-0">{{currentOption}}<i class="ml-1 fas fa fa-chevron-down"></i></button>
        <div id="menuDropdown" class="dropdown-content">
          <a (click)="selectOption(option)" *ngFor="let option of options">{{option}}</a>
        </div>
      </div> -->

      <!-- <div class="d-flex justify-content-start flex-row ">
          <div class="ml-3">
              <ngx-select-dropdown [options]="tournamentOptions" [config]="tournamentConfig"
              [value]="dataModel" class="tournament-dropdown"></ngx-select-dropdown>
          </div>
          <div class="ml-3">
            <ngx-select-dropdown [options]="prizeOptions" [config]="prizeConfig"
            [value]="dataModel" class="prizr-dropdown"></ngx-select-dropdown>
        </div>
          <div class="ml-3">
            <ngx-select-dropdown [options]="practiseEntryOptions" [config]="practiseEntryConfig"
            [value]="dataModel" class="entry-dropdown"></ngx-select-dropdown>
        </div>
        <div class="ml-3">
         Date Range: <input type="text" name="daterangeInput" daterangepicker [options]="dateOptions" (selected)="selectedDate($event, daterange)" />
        </div>
      </div> -->
    </div>
    <div class="mt-4">
        <div class="container px-0">
          <ul class="nav nav-tab">
            <li class="nav-item active">
                <a class="nav-link active font-weight-bold f-family-montserrat">Cricket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold f-family-montserrat">Football</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold f-family-montserrat">Kabaddi</a>
            </li>
          </ul>
        </div>
    </div>
    <div>
      <div class="container px-0">
        <ul class="nav nav-subtab">
          <li class="nav-item" *ngFor="let tab of tabs">
            <a class="nav-link font-weight-bold f-family-montserrat" [ngClass]="{'active': currentTab === tab.id }" (click)="selectTab(tab.id)">{{tab.title}}</a>
          </li>
        </ul>

        <div class="row mx-0">
          <img  class="ad-image" src="../../../assets/images/menu-option.jpg" alt="">
        </div>
        <div class="container__inner">
          <div class="tab-content">
            <div class="tab-pane active" [ngSwitch]="selectTab">
              <ng-template [ngIf]="currentTab === 1 && currentOption === 'Cricket'">
                <app-dfs-upcoming-match></app-dfs-upcoming-match>
                <app-sfs-upcoming-match></app-sfs-upcoming-match>
              </ng-template>
              <ng-template [ngIf]="currentTab === 1 && currentOption === 'Football'">
                <app-upcoming-match></app-upcoming-match>
              </ng-template>

              <ng-template [ngIf]="currentTab === 2 && currentOption === 'Cricket'">
                <app-dfs-live-match></app-dfs-live-match>
              </ng-template>
              <ng-template [ngIf]="currentTab === 2 && currentOption === 'Football'">
                <app-live-match></app-live-match>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>