<section class="how-to-play position-relative">
  <div class="container px-sm-5 px-3">
    <div class="row how-to-play__block d-flex align-items-start mx-0">
      <div class="col-lg-7 p-sm-5 p-3">
        <img class="img-fluid" src="assets/images/fantasy-sports.jpg" alt="Fantasy Sports" />
        <img class="btn--play" src="assets/images/play-button.png" alt="Play" width="58" height="58" />
      </div>
      <div class="col-lg-5 py-lg-5 pb-md-5 pt-md-0 pt-0 pb-2 px-sm-5 pr-2">
        <h1 class="heading--large pt--2">How to play fantasy Sports</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
      </div>
    </div>
  </div>
</section>