<div class="accordion" id="withdrawTabs">
    <div class="card">
      <div class="card-header" id="withdrawsTabOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsewithdrawsTabOne" aria-expanded="true" aria-controls="collapsewithdrawsTabOne">
              Withdraw
          </button>
        </h5>
      </div>
  
      <div id="collapsewithdrawsTabOne" class="collapse show" aria-labelledby="headingOne" data-parent="#withdrawTabs">
        <div class="card-body px-0">
            <form class="float-form" action="">
              <div class="row">
                <div class="col-md-12 text-center font-weight-600 mb-3">Your winning amount is: &#8377;500</div>
                <div class="form-group col-md-12 mb-0">
                  <input type="text" id="amount" class="form-control" placeholder="Enter Amount" required>
                  <label class="form-control-placeholder text-center" for="amount">Enter Amount</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-carrot">*You can withdraw between &#8377;200 to &#8377;200,000 </div>
                <div class="col-md-12 mb-3">Your email, mobile number, PAN number, Bank details should be verified before withdrawing money.</div>
              </div>

              <div class="buttons">
                <button class="btn bg--carrot border-radius-0 text-white">Withdraw</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>