<div class="accordion" id="personalDetailTabs" #target>
    <div class="card">
      <div class="card-header" id="PersonalDetailsTabOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePersonalDetailsTabOne" aria-expanded="true" aria-controls="collapsePersonalDetailsTabOne">
              Personal Details
          </button>
        </h5>
      </div>
  
      <div id="collapsePersonalDetailsTabOne" class="collapse show" aria-labelledby="headingOne" data-parent="#personalDetailTabs">
        <div class="card-body px-0">
            <form class="float-form" action="">
              <div class="row">
                <div class="form-group col-md-4">
                  <input type="text" id="firstname" class="form-control" placeholder="First Name" required>
                  <label class="form-control-placeholder" for="firstname">First name</label>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" id="lastname" class="form-control" placeholder="Last Name" required>
                  <label class="form-control-placeholder" for="lastname">Last name</label>
                </div>
                <div class="form-group col-md-4">
                  <select  id="gender" class="form-control" placeholder="Gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <label class="form-control-placeholder" for="gender">Gender</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <input type="text" id="date" class="form-control" placeholder="Date of birth" required>
                  <label class="form-control-placeholder" for="date">Date of birth</label>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" id="state" class="form-control" placeholder="State of residance" required>
                  <label class="form-control-placeholder" for="state">State of residance</label>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" id="phoneno" class="form-control" placeholder="Phone number" required>
                  <label class="form-control-placeholder" for="phoneno">Phone number</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <input type="text" id="email" class="form-control" placeholder="Email address" required>
                  <label class="form-control-placeholder" for="email">Email address</label>
                </div>
              </div>

              <div class="buttons">
                <button class="btn bg--carrot border-radius-0 text-white">Update</button>
                <button class="btn bg--light-black border-radius-0 text-white ml-4">Cancel</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="PersonalDetailsTabTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePersonalDetailsTabTwo" aria-expanded="false" aria-controls="collapsePersonalDetailsTabTwo">
              Password
          </button>
        </h5>
      </div>
      <div id="collapsePersonalDetailsTabTwo" class="collapse" aria-labelledby="PersonalDetailsTabTwo" data-parent="#personalDetailTabs">
        <div class="card-body pt-5">
            <form class="float-form" action="">
                <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" id="newPassword" class="form-control" placeholder="New Password" required>
                    <label class="form-control-placeholder" for="newPassword">New Password</label>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" id="cofirmPassword" class="form-control" placeholder="Confirm Password" required>
                    <label class="form-control-placeholder" for="cofirmPassword">Confirm Password</label>
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>