<div class="block__right pl-3">
    <div class="players">
      <div class="blocks justify-content-center">
        <div class="block">
        <div class="player-status">
          <img src="assets/images/playerT.png" alt="">  
          <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
          <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
          <div class="icon-cap icons">C</div>
          <div class="icon-vcap icons">VC</div>
        </div>
         <button class="btn btn--prime">Aguero <br/> 110</button>  
          <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
          <app-player-info></app-player-info>
        </div>
      </div>

      <div class="blocks">
          <div class="block">
              <div class="player-status">
                <img src="assets/images/playerT.png" alt="">  
                <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                <div class="icon-cap icons">C</div>
                <div class="icon-vcap icons">VC</div>
              </div>
               <button class="btn btn--prime">Aguero <br/> 110</button>  
                <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                <app-player-info></app-player-info>
              </div>          
              <div class="block">
                  <div class="player-status">
                    <img src="assets/images/playerT.png" alt="">  
                    <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                    <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                    <div class="icon-cap icons">C</div>
                    <div class="icon-vcap icons">VC</div>
                  </div>
                   <button class="btn btn--prime">Aguero <br/> 110</button>  
                    <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                    <app-player-info></app-player-info>
                  </div>

                  <div class="block">
                      <div class="player-status">
                        <img src="assets/images/playerT.png" alt="">  
                        <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                        <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                        <div class="icon-cap icons">C</div>
                        <div class="icon-vcap icons">VC</div>
                      </div>
                       <button class="btn btn--prime">Aguero <br/> 110</button>  
                        <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                        <app-player-info></app-player-info>
                      </div>
                      
                      <div class="block">
                          <div class="player-status">
                            <img src="assets/images/playerT.png" alt="">  
                            <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                            <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                            <div class="icon-cap icons">C</div>
                            <div class="icon-vcap icons">VC</div>
                          </div>
                           <button class="btn btn--prime">Aguero <br/> 110</button>  
                            <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                            <app-player-info></app-player-info>
                          </div>

                          <div class="block">
                              <div class="player-status">
                                <img src="assets/images/playerT.png" alt="">  
                                <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                                <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                                <div class="icon-cap icons">C</div>
                                <div class="icon-vcap icons">VC</div>
                              </div>
                               <button class="btn btn--prime">Aguero <br/> 110</button>  
                                <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                                <app-player-info></app-player-info>
                              </div>
        </div>

        <div class="blocks justify-content-md-center justify-content-around">
            <div class="block">
                <div class="player-status">
                  <img src="assets/images/playerT.png" alt="">  
                  <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                  <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                  <div class="icon-cap icons">C</div>
                  <div class="icon-vcap icons">VC</div>
                </div>
                 <button class="btn btn--prime">Aguero <br/> 110</button>  
                  <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                  <app-player-info></app-player-info>
                </div>
                <div class="block">
                    <div class="player-status">
                      <img src="assets/images/playerT.png" alt="">  
                      <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                      <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                      <div class="icon-cap icons">C</div>
                      <div class="icon-vcap icons">VC</div>
                    </div>
                     <button class="btn btn--prime">Aguero <br/> 110</button>  
                      <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                      <app-player-info></app-player-info>
                    </div>
                    <div class="block">
                        <div class="player-status">
                          <img src="assets/images/playerT.png" alt="">  
                          <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                          <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                          <div class="icon-cap icons">C</div>
                          <div class="icon-vcap icons">VC</div>
                        </div>
                         <button class="btn btn--prime">Aguero <br/> 110</button>  
                          <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                          <app-player-info></app-player-info>
                        </div>
          </div>

          <div class="blocks">
              <div class="block">
                  <div class="player-status">
                    <img src="assets/images/playerT.png" alt="">  
                    <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                    <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                    <div class="icon-cap icons">C</div>
                    <div class="icon-vcap icons">VC</div>
                  </div>
                   <button class="btn btn--prime">Aguero <br/> 110</button>  
                    <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                    <app-player-info></app-player-info>
                  </div>
                  <div class="block">
                      <div class="player-status">
                        <img src="assets/images/playerT.png" alt="">  
                        <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                        <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                        <div class="icon-cap icons">C</div>
                        <div class="icon-vcap icons">VC</div>
                      </div>
                       <button class="btn btn--prime">Aguero <br/> 110</button>  
                        <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                        <app-player-info></app-player-info>
                      </div>
                      <div class="block">
                          <div class="player-status">
                            <img src="assets/images/playerT.png" alt="">  
                            <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                            <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                            <div class="icon-cap icons">C</div>
                            <div class="icon-vcap icons">VC</div>
                          </div>
                           <button class="btn btn--prime">Aguero <br/> 110</button>  
                            <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                            <app-player-info></app-player-info>
                          </div>
                          <div class="block">
                              <div class="player-status">
                                <img src="assets/images/playerT.png" alt="">  
                                <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                                <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                                <div class="icon-cap icons">C</div>
                                <div class="icon-vcap icons">VC</div>
                              </div>
                               <button class="btn btn--prime">Aguero <br/> 110</button>  
                                <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                                <app-player-info></app-player-info>
                              </div>
                              <div class="block">
                                  <div class="player-status">
                                    <img src="assets/images/playerT.png" alt="">  
                                    <!-- <div class="icon-close icons" data-dismiss="modal"  (click)="deletePlayer()">X</div> -->
                                    <!-- <div class="icon-info icons" data-toggle="modal" data-target="#exampleModalCenter">!</div>   -->
                                    <div class="icon-cap icons">C</div>
                                    <div class="icon-vcap icons">VC</div>
                                  </div>
                                   <button class="btn btn--prime">Aguero <br/> 110</button>  
                                    <!-- <div class="icon-plus icons" (click)="addPlayer()">+</div> -->
                                    <app-player-info></app-player-info>
                                  </div>
          </div>
      
    </div>
    
</div>