<div class="container mb-5 f-family-montserrat">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white pl-0 mt-2">
      <li class="breadcrumb-item"><a class="text-grey" routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">FAQ</li>
    </ol>
  </nav>

  <div class="faq__block">
    <h3 class="mb-4 text-carrot font-weight-600">FAQ</h3>
    <section class="block-1 mb-5">
      <div class="row">
        <div class="col-lg-7 d-flex align-items-stretch justify-content-stretch mb-lg-0 mb-4 embed-video">
            <iframe class="w-100 border-0" 
            value="1"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-lg-5">
          <div class="bg--grey p-4 text-grey3">
            <h4 class="font-weight-bold mb-3">
              Lorem ipsum casestudies
            </h4>
            <p class="text-justify">
                Lorem ipsum casesstudys lorem ipsum change make
                ipsume case Lorem ipsum casesstudys lorem ipsum 
                change make ipsume case Lorem ipsum casesstudys
                lorem ipsum change make ipsume case Lorem ipsum
                casesstudys lorem ipsum change make ipsume case 
                Lorem ipsum casesstudys lorem ipsum change make
                ipsume case Lorem ipsum casesstudys lorem ipsum 
                change make ipsume case Lorem ipsum casesstudys
                lorem ipsum change make ipsume case Lorem ipsum
                casesstudys lorem ipsum change make ipsume case 
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="block-2">
      <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    HOW TO PLAY TFG
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <iframe class="w-100 video border-0" 
                  value="1"
                  src="https://www.youtube.com/embed/tgbNymZ7vqY">
                  </iframe>
                  Lorem ipsum casesstudys lorem ipsum change make ipsume case Lorem ipsum casesstudys lorem ipsum change make ipsume case 
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    HOW TO GET SCORE MORE
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <iframe class="w-100 video border-0" 
                value="1"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    HOW TO KNOW THE WINNER DETAILS
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <iframe class="w-100 video border-0" 
                value="1"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      GUILELINES  FOR A PAYMENT SYSTEM
                  </button>
                </h5>
              </div>
          
              <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <iframe class="w-100 video border-0" 
                    value="1"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    Lorem ipsum casesstudys lorem ipsum change make ipsume case Lorem ipsum casesstudys lorem ipsum change make ipsume case 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      CANCELLATION FOR SELECTION MATCH
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <iframe class="w-100 video border-0" 
                    value="1"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      REFUND POLICY
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <iframe class="w-100 video border-0" 
                    value="1"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      MODE OF REFUND
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <iframe class="w-100 video border-0" 
                    value="1"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
        </div>
    </section>
  </div>

</div>
