<section class="contrary">
  <div class="row contrary__bg mx-0">
    <div class="container">
      <h2 class="text-dark text-center font-weight-bold">
          <em>Contrary to popular belief, Lorem Ipsum is not  
          simply random text. It has roots in a piece of 
          classical.</em>
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-lg-between justify-content-center align-items-center form">
      <div class="text-dark font-weight-bold text-center">Contrary to popular belief, Lorem Ipsum is not simply random text.</div>
      <form action="">
        <div class="input-group add-on">
          <input type="text" class="form-control" placeholder="Email" name="email">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <img src="assets/images/send.png" alt="Send">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>