<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="icon-close icons right-0" data-dismiss="modal" aria-label="Close">
            X
          </div>
        <div class="modal-body">
            <div class="table-responsive">
              <table class="w-100 font-weight-bold">
                <tbody>
                  <tr class="text-dark-orange text-uppercase">
                    <td class="text-center" rowspan="2">
                      <img class="rounded-circle" src="assets/images/player.png" alt="" width="46" height="46">
                    </td>
                    <td>Name</td>
                    <td class="text-center">Selected By</td>
                    <td class="text-center">Points</td>
                  </tr>
                  <tr>
                      <td>Aron Finach</td>
                      <td class="text-center">57%</td>
                      <td class="text-center">47%</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>