.carousel,
.carousel-item {
  min-height: 300px;
}
.carousel-caption {
  color: #666666;
  top: 30px;
}

.carousel-caption h1 {
  font-size: 40px;
}
.carousel-indicators {
  bottom: 20px;
}
.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #999999;
}
.carousel-indicators .active {
  background-color: var(--primeColor);
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000;
}

.nav-item .nav-link {
  border-bottom: 2px solid transparent;

}
.nav-item:hover .nav-link,
.nav-item .nav-link.active {
  color: var(--primeColor);
  border-bottom: 2px solid var(--primeColor);
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel,
  .carousel-item {
    min-height: 330px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel,
  .carousel-item {
    min-height: 350px;
  }
  .carousel-caption h1{
    font-size: 32px;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption {
    left: 0;
    right: 0;
  }
  .carousel-caption h1 {
    font-size: 28px;
  }
  .carousel,
  .carousel-item {
    min-height: 500px; 
  }
}