<section class="ways-to-win bg--grey mt-5">
  <div class="heading py-5">More Ways To Win</div>
  <div class="container">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="nav-link" [class.active]="active" (click)="selectTab='winBig'">Win Big</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="active" (click)="selectTab='playFree'">Play Free</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="active" (click)="selectTab='callTheShots'">Call The Shots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="active" (click)="selectTab='beatYourFriends'">Beat Your Friends</a>
      </li>
    </ul>
    <div class="container__inner">
      <div class="tab-content">
        <div class="tab-pane active" [ngSwitch]="selectTab">
          <ng-template [ngSwitchCase]="'winBig'" ngSwitchDefault>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel-caption text">
                    <div class="d-flex justify-content-around flex-sm-row flex-column">
                      <div>
                          <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                          <p>Total users who've won cash</p>
                      </div>
                      <div>
                          <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                          <p>Total users who've won cash</p>
                      </div>
                    </div>
                    <div class="content mt-4 px-5">
                        Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                        payday. On FanDuel, we deliver that feeling on demand.
                    Total users who've won cash
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption text">
                      <div class="d-flex justify-content-around flex-sm-row flex-column">
                        <div>
                            <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                            <p>Total users who've won cash</p>
                        </div>
                        <div>
                            <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                            <p>Total users who've won cash</p>
                        </div>
                      </div>
                      <div class="content mt-4 px-5">
                          Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                          payday. On FanDuel, we deliver that feeling on demand.
                      Total users who've won cash
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <div class="carousel-caption text">
                        <div class="d-flex justify-content-around flex-sm-row flex-column">
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                              <p>Total users who've won cash</p>
                          </div>
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                              <p>Total users who've won cash</p>
                          </div>
                        </div>
                        <div class="content mt-4 px-5">
                            Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                            payday. On FanDuel, we deliver that feeling on demand.
                        Total users who've won cash
                        </div>
                      </div>
                    </div>
                
              </div>
            </div>
          </ng-template>

          <ng-template [ngSwitchCase]="'playFree'" >
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="carousel-caption text">
                        <div class="d-flex justify-content-around flex-sm-row flex-column">
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                              <p>Total users who've won cash</p>
                          </div>
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                              <p>Total users who've won cash</p>
                          </div>
                        </div>
                        <div class="content mt-4 px-5">
                            Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                            payday. On FanDuel, we deliver that feeling on demand.
                        Total users who've won cash
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption text">
                          <div class="d-flex justify-content-around flex-sm-row flex-column">
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                                <p>Total users who've won cash</p>
                            </div>
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                                <p>Total users who've won cash</p>
                            </div>
                          </div>
                          <div class="content mt-4 px-5">
                              Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                              payday. On FanDuel, we deliver that feeling on demand.
                          Total users who've won cash
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                          <div class="carousel-caption text">
                            <div class="d-flex justify-content-around flex-sm-row flex-column">
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                            </div>
                            <div class="content mt-4 px-5">
                                Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                                payday. On FanDuel, we deliver that feeling on demand.
                            Total users who've won cash
                            </div>
                          </div>
                        </div>
                    
                  </div>
                </div>
          </ng-template>

          <ng-template [ngSwitchCase]="'callTheShots'">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="carousel-caption text">
                        <div class="d-flex justify-content-around flex-sm-row flex-column">
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                              <p>Total users who've won cash</p>
                          </div>
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                              <p>Total users who've won cash</p>
                          </div>
                        </div>
                        <div class="content mt-4 px-5">
                            Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                            payday. On FanDuel, we deliver that feeling on demand.
                        Total users who've won cash
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption text">
                          <div class="d-flex justify-content-around flex-sm-row flex-column">
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                                <p>Total users who've won cash</p>
                            </div>
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                                <p>Total users who've won cash</p>
                            </div>
                          </div>
                          <div class="content mt-4 px-5">
                              Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                              payday. On FanDuel, we deliver that feeling on demand.
                          Total users who've won cash
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                          <div class="carousel-caption text">
                            <div class="d-flex justify-content-around flex-sm-row flex-column">
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$2,735,219</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                            </div>
                            <div class="content mt-4 px-5">
                                Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                                payday. On FanDuel, we deliver that feeling on demand.
                            Total users who've won cash
                            </div>
                          </div>
                        </div>
                    
                  </div>
                </div>
          </ng-template>

          <ng-template [ngSwitchCase]="'beatYourFriends'">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="carousel-caption text">
                        <div class="d-flex justify-content-around flex-sm-row flex-column">
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$1,735,219</h1>
                              <p>Total users who've won cash</p>
                          </div>
                          <div>
                              <h1 class="text-prime font-weight-bold f-family-montserrat">$3,535,902,969</h1>
                              <p>Total users who've won cash</p>
                          </div>
                        </div>
                        <div class="content mt-4 px-5">
                            Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                            payday. On FanDuel, we deliver that feeling on demand.
                        Total users who've won cash
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption text">
                          <div class="d-flex justify-content-around flex-sm-row flex-column">
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$2,7345,219</h1>
                                <p>Total users who've won cash</p>
                            </div>
                            <div>
                                <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,952,969</h1>
                                <p>Total users who've won cash</p>
                            </div>
                          </div>
                          <div class="content mt-4 px-5">
                              Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                              payday. On FanDuel, we deliver that feeling on demand.
                          Total users who've won cash
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                          <div class="carousel-caption text">
                            <div class="d-flex justify-content-around flex-sm-row flex-column">
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$5,785,219</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                              <div>
                                  <h1 class="text-prime font-weight-bold f-family-montserrat">$4,535,902,969</h1>
                                  <p>Total users who've won cash</p>
                              </div>
                            </div>
                            <div class="content mt-4 px-5">
                                Winning isn’t everything. But still, there’s nothing quite like the feeling of a big W and an even bigger
                                payday. On FanDuel, we deliver that feeling on demand.
                            Total users who've won cash
                            </div>
                          </div>
                        </div>
                    
                  </div>
                </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</section>
